@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    text-align: center;
    margin: 0;
    font-family: 'Varela Round', 'Arial Narrow', Arial, sans-serif;
    /* sets The whole body font-family */
}

.home-image {
    /* Home page main image */
    width: 100%;
    height: 41.5vw;
    background: center 100% /cover no-repeat;
    text-align: center;
    background-color: white;
    background-image: url('../images/home-main.gif');

}

.pages {
    text-align: center;
    background-color: #58188b;
}

.links {
    /*  set the size and background color of the page links */
    display: inline-block;
    padding: 1rem;
    text-align: center;
    background-color: blueviolet;
    width: 100px;
    margin: 2px;
}

.selected-link {
    /*  set the  background color of the page links */
    background-color: #f052f5;
}

.selected-link>a {
    color: #4e0751
}

.selected-link>a:hover {
    color: #4e0751;
}

a:hover {
    color: #fa5fff;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Comfortaa', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: #820687;
}

h3 {
    color: #820687;
    text-align: center;
}

.border {
    padding: 1%;
    border-color: #820687;
    border-style: dotted;
    border-width: 2px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 0 10px;
    text-align: center;
    font-size: large;

}

#question {
    font-size: 300%;
}

.social-media {
    /* container div of the social media icons */
    text-align: center;
    margin: 0 auto;
    float: right;
    padding-top: 5px;
    padding-right: 40px;
}
.icon{
    /* social media icons */
    width:30px;
}
.contact-icon{
    /* contact icons */
    width:70px;
}
.brand-logo-image{
    /* brand logos size */
    height:30px;
}
#logo-johnson{
    height:40px;
}
.service-image{
    /* service images */
    width:250px;
}

.youtube-image {
    float: left;
    padding: 5px 15px 0 15px;
}

.facebook-image {
    float: left;
    padding: 5px 15px 0 15px;
}

.insta-image {
    float: left;
    padding: 5px 15px 0 15px;
}

.youtube-image a:hover img {
    /* to change the colour of the youtube icon */
    content: url('../images/youtube-c.gif');
}

.facebook-image a:hover img {
    /* to change the colour of the facebook icon */
    content: url('../images/facebook-c.gif');
}

.insta-image a:hover img {
    /* to change the colour of the insta icon */
    content: url('../images/insta-c.gif');
}

.welcome {
    /* used as the main container of the welcome paragraph*/
    text-align: center;
    width: 90%;
    display: inline-block;
}

.welcome-para {
    /* make the paragraph justify and line height 150% */
    text-align: justify;
    line-height: 150%;
}

.our-services {
    /* container div of  the whole services */
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: aliceblue;
    margin: 0 auto;

}
.our-specialities{
    /* container div of  the whole specialities */
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color:rgb(230, 230, 230);
    margin: 0 auto;
}

.services {
    /* container div of all the services */
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.service {
    /* Container of the each service */
    width: 250px;
    height: 650px;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.our-services-para {
    /* set the text align and line height of Service paragraphs */
    text-align: justify;
    line-height: 150%;
}

.brands {
    /* container of the brand icons and its heading */
    width: 100%;
    margin: auto;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.logos {
    /* container of the brand icons */
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    /* properties of each logo */
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    float: none;
    width: auto;
    margin: auto;
}

.contact-div {
    /* container of the contacts details */
    display: inline-block;
    background-image: linear-gradient(to bottom, #820687, #2b022c);
    width: 100%;
    color: white;
    padding-top: 1rem;
    height: max-content;
}

.contact>p {
    /* properties of the p tag in the contact details */
    line-height: 200%;

}

.contact {
    /* container of each contact type */
    width: 20%;
    padding: 30px 0 30px 10px;
    text-align: center;
    margin: 1.2rem;
    float: left;
    height: max-content;
}


.contact>h3 {
    color: #fa5fff;
    font-family: 'Comfortaa', 'Arial Narrow', Arial, sans-serif;
}

#map-wrapper {
    /* container of the map */
    height: 300px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#map-wrapper>h2 {
    text-align: center;
}
#map{
    width:100%;
     height:300px;
}
footer {
    /* properties of footer */
    background-color: #58188b;
    height: 55px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    color: white;
}

footer>p {
    float: left;
    padding-left: 50px;
}

.collection-main-image {
    /* collection page main image */
    width: 100%;
    height: 41.5vw;
    background: center 100% /cover no-repeat;
    text-align: center;
    background-color: white;
    background-image: url('../images/collection-main.gif');
}

.gallery {
    /* set the properties of the each gallery section in collection */
    margin: 10px;
    border: 2px solid #940f87;
    width: 250px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}

.gallery:hover {
    /* it changes the properties of the .gallery class when the mouse hover */
    border: 2px solid #fb05ff;
}

.gallery img {
    /* set the property of image in the gallery */
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.description {
    /* set the properties of the Description below each image in the gallery */
    padding: 15px;
    text-align: center;
}

.about-us-main-image {
    /* about us page main image */
    height: 41.5vw;
    background: center 100% /cover no-repeat;
    text-align: center;
    background-color: white;
    background-image: url('../images/about-us-main.gif');
}

.about-us1 {
    /* contains the paragraph of about us */
    text-align: center;
    height: fit-content;
    display: inline-block;
    margin: auto;
}

.image-row {
    /* Contain the images in the about-us section */
    text-align: center;
}

.image-box {
    /* Contains each image in the about us section */
    width: 23%;
    padding: 1%;
    margin: .5%;
    background: rgb(89, 89, 89);
    display: inline-block;
    font-size: 0;
    /* fixes bottom padding */
}

.image-box img {
    /* set the properties of image inside the .image-box class */
    max-width: 100%;
}


.contact-main-image {
    /* contact page main image */
    width: 100%;
    height: 41.5vw;
    background: center 100% /cover no-repeat;
    text-align: center;
    background-color: white;
    background-image: url('../images/contact-main.gif');
}


.customer-care {
    /* set the width of the customer care image in the contact page  */
    width: 30%;
    margin: 0 auto;
    padding: 4% 10% 4% 10%;
    text-align: inherit;
}

.contact-form {
    /* properties of the contact form section container */
    display: inline-block;
    text-align: center;
    padding: 5% 50px 50px 50px;
}

fieldset {
    /* it makes the edge of the fieldset rounded */
    border-radius: 20px;
}

.fields {
    /* container of the all form elements */
    padding: 30px;
    height: 400px;
    text-align: center;
    width: auto;
}

#name-field {
    /* set the properties of name field in contact */
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: aliceblue;
    border-radius: 10px;

}

#email-field {
    /* set the properties of email field in contact */
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: aliceblue;
    border-radius: 10px;
}

#subject-field {
    /* set the properties of subject field in contact */
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: aliceblue;
    border-radius: 10px;
}

#phone-field {
    /* set the properties of phone number field in contact */
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: aliceblue;
    border-radius: 10px;
}

#feedback {
    /* set the properties of feedback field in contact */
    border-style: none;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.block-label {
    /* properties of submit & reset buttons in the form */
    background-color: aliceblue;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    ;
}

.block-label:hover {
    /* it changes the color of the background of the submit and reset buttons when mouse hover */
    background-color: antiquewhite;

}

@media (max-width:1200px) {

    /* it changes the properties of the .service class when the screen size is less than 1200px */
    .service {
        width: fit-content;
        float: none;
        margin: 0 auto;
        height: max-content;
        margin-bottom: 20px;
    }

    /* it changes the properties of the image in the .service class when the screen size is less than 1200px */
    .service>img {
        width: 50%;
    }

    .customer-care {
        /* set the width of the customer care image in the contact page  */
        width: 60%;
        margin: 0 auto;
        padding: 10%;
        float: none;
    }

    /* it changes the properties of the .image-box class when the screen size is less than 1200px */
    .image-box {
        float: none;
        width: 60%;
        margin: auto;
        margin: .5%;
        display: inline-block;
        font-size: 0;
        /* fixes bottom padding */
    }

    /* it changes the properties of the .contact class when the screen size is less than 1200px */
    .contact {
        width: 40%;
    }
}

@media(max-width:1000px) {

    /* it changes the properties of the .contact class when the screen size is less than 1000px */
    .contact {
        float: none;
        width: 90%;
        height: max-content;
    }
}

@media(max-width:800px) {

    /* it changes the width of the customer care image in the contact page when screen size is less than 800px */
    .customer-care {
        width: 80%;
    }
}

@media (max-width:600px) {

    /* Home page main image in a small screen*/
    .home-image {
        width: 100%;
        height: 60vh;
        background: center 100% /cover no-repeat;
        text-align: center;
        background-color: white;
        background-image: url('../images/home page with heading1.jpg');
    }

    /* contact page main image in a small screen */
    .contact-main-image {
        width: 100%;
        height: 60vh;
        background: center 100% /cover no-repeat;
        text-align: center;
        background-color: white;
        background-image: url('../images/contact_small-main-image.gif');
    }

    /* about us page main image in a small screen */
    .about-us-main-image {
        width: 100%;
        height: 60vh;
        background: center 100% /cover no-repeat;
        text-align: center;
        background-color: white;
        background-image: url('../images/about-us-small-main-image.gif');
    }

    /* collection page main image in a small screen */
    .collection-main-image {
        width: 100%;
        height: 60vh;
        background: center 100% /cover no-repeat;
        text-align: center;
        background-color: white;
        background-image: url('../images/collection-main-small-image.gif');
    }

    .links {
        /*  set the size and background color of the page links */
        width: 17%;
        padding: 10px;

    }

    .links>a {
        font-size: 70%;
    }

    .contact-form {
        /* properties of the contact form section container */
        text-align: center;
        width: 70%;
        padding-left: 1%;
    }

    .fields {
        /* container of the all form elements */
        /* height: 400px; */
        width: 90%;
    }

    #name-field {
        /* set the properties of name field in contact */
        width: 90%;
    }

    #email-field {
        /* set the properties of email field in contact */
        width: 90%;
    }

    #subject-field {
        /* set the properties of subject field in contact */
        width: 90%;
    }

    #phone-field {
        /* set the properties of phone number field in contact */
        width: 90%;
    }

    #feedback {
        width: 90%;
    }

    .block-label {
        /* properties of submit & reset buttons in the form */
        width: 120px;
        padding: 10px;
    }

    footer {
        height: 140px;
    }

    footer>p {
        padding: 0;
        float: none;
        font-size: small;
    }

    .social-media {
        float: none;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .youtube-image {
        display: inline-block;
        text-align: center;
        float: none;
        padding-left: 10%;
        padding-top: 25px;
    }

    .facebook-image {
        display: inline-block;
        text-align: center;
        float: none;
        padding-top: 25px;
    }

    .insta-image {
        display: inline-block;
        text-align: center;
        float: none;
        padding-top: 25px;
    }

    /* it changes the properties of the image in the .service class when the screen size is less than 1200px */
    .service>img {
        width: 80%;
    }

    #question {
        font-size: 200%;
    }
}

@media (max-width:400px) {
    .youtube-image {
        padding-left: 20%;
    }

    .contact-form {
        /* properties of the contact form section container */
        text-align: center;
        width: 80%;
    }

    .block-label {
        /* properties of submit & reset buttons in the form */
        width: 90px;
        padding: 10px;
        font-size: 70%;
    }

    /* it changes the properties of the image in the .service class when the screen size is less than 1200px */
    .service>img {
        width: 100%;
    }

    #question {
        font-size: 150%;
    }
}